<p>Syarat dan Ketentuan</p>
<p>Halaman ini berisi tentang ketentuan dan prasyarat dari layanan kami oleh anda&nbsp;<strong>(&ldquo;Syarat dan Ketentuan&rdquo;)</strong>. Syarat dan Ketentuan ini wajib anda baca secara hati-hati sebelum mengunduh&nbsp; layanan kami. Apabila anda tidak menyetujui Syarat dan Ketentuan ini, harap untuk tidak mengunduh layanan kami.</p>
<p>&nbsp;</p>
<p><strong>Tentang Kami</strong></p>
<p>Pasarwarga didirikan oleh PT Siwarga Indo Media, sebuah perusahaan yang didirikan berdasarkan hukum yang berlaku di Indonesia dan berdomisili di Jakarta. Dalam hal ini Kami selaku pemilik hak cipta dan pengelola layanan aplikasi Pasarwarga.</p>
<p>Syarat dan Ketentuan yang tercantum dalam halaman ini dilindungi oleh hak cipta. Segala penggunaan sebagian atau seluruh Syarat dan Ketentuan ini oleh pihak ketiga tidak diperbolehkan, kecuali seizin kami dan diperbolehkan berdasarkan peraturan perundang-undangan yang berlaku di Indonesia.</p>
<p>&nbsp;</p>
<p><strong>Definisi</strong></p>
<p>&ldquo;Anda&rdquo; dengan variasi tata bahasa dan ungkapan yang serumpun, merujuk pada anda yang mengakses dan/atau menggunakan aplikasi dan/atau Layanan.</p>
<ul>
    <li>&ldquo;Data Pribadi&rdquo; berarti informasi atau data yang dapat digunakan untuk mengidentifikasi secara langsung atau tidak langsung seorang individu yang merupakan orang perseorangan.</li>
    <li>&ldquo;Syarat dan Ketentuan&rdquo; mengacu pada Syarat dan Ketentuan ini.</li>
    <li>&ldquo;Kami&rdquo; dengan variasi tata bahasa dan ungkapan yang serumpun, merujuk pada Pasarwarga beserta kuasa yang sah dari Pasarwarga.</li>
    <li>&ldquo;Konten&ldquo; memiliki arti semua konten Kami pada Layanan, secara keseluruhan atau setiap bagian, termasuk tetapi tidak terbatas pada desain, teks, gambar grafis, foto, gambar, citra, video, perangkat lunak, musik, suara dan file lain, tarif, biaya, kuotasi, data historis, grafik, statistik, artikel, informasi kontak kami, setiap informasi lain, dan pemilihan dan pengaturannya, serta konten dan informasi lainnya yang memiliki kapasitas untuk dilindungi oleh hak cipta.</li>
    <li>&ldquo;Layanan&rdquo; memiliki arti layanan Pasarwarga Express.</li>
    <li>&ldquo;Aplikasi&rdquo; mengacu pada Aplikasu Pasarwarga Express, yang dapat Anda unduh melalui layanan unduh aplikasi mana pun yang memuat Pasarwarga Express.</li>
    <li>&ldquo;Merchant&rdquo; adalah member Pasarwarga yang telah membuka kios (toko) di Pasarwarga.</li>
    <li>&ldquo;Akun&rdquo; adalah akun untuk mengakses layanan Pasarwarga Express.</li>
</ul>
<p>&nbsp;</p>
<p>Untuk keperluan Syarat dan Ketentuan ini, Anda dan Kami secara bersama-sama disebut dengan &ldquo;Para Pihak&rdquo; dan secara masing-masing disebut dengan &ldquo;Pihak&rdquo;.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Layanan Kami</strong></p>
<p>Untuk menggunakan layanan Pasarwarga Express, Anda wajib membuka kios di website Pasarwarga terlebih dahulu setelah sebelumnya menjadi member (anggota) di Pasarwarga. Kami berhak memilah apakah kios Anda akan diberikan akses ke Pasarwarga Express atau tidak.</p>
<p><br /> Dalam menyediakan Layanan, Kami menegaskan sebagai berikut:</p>
<ul>
    <li>Merchant yang dapat menggunakan Layanan adalah Merchant yang dipilih secara sepihak oleh Pasarwarga berdasarkan performa penjualan Merchant di Pasarwarga.</li>
    <li>Merchant yang terpilih untuk menggunakan Layanan akan Kami berikan akun login (username dan kata sandi) untuk dapat menggunakan Layanan.</li>
    <li>Kami hanya bertindak sebagai perantara antara Penjual dengan Pembeli. Kami tidak bertanggung jawab apabila terdapat kerugian yang dialami akibat keputusan Anda untuk melakukan transaksi dengan Pembeli dan/atau Penjual melalui Layanan Kami.</li>
    <li>Kami tidak dapat digugat ataupun dituntut untuk segala pernyataan, kekeliruan, ketidaktepatan, atau kekurangan pada segala Konten yang diterbitkan oleh pengguna Layanan.</li>
</ul>
<p>&nbsp;</p>
<p><strong>Pelepasan dan Jaminan dari Anda</strong></p>
<p>Anda dengan tanpa syarat dan tidak dapat ditarik kembali menyatakan dan menjamin bahwa:</p>
<ul>
    <li>Anda telah membaca dan menyetujui Syarat dan Ketentuan ini.</li>
    <li>Anda memiliki itikad baik dalam menggunakan Layanan dan akan menggunakan Layanan untuk tujuan yang sah dan tidak bertentangan dengan Syarat dan Ketentuan ini serta Syarat dan Ketentuan lainnya yang berlaku di Pasarwarga dan peraturan perundang-undangan yang berlaku.&nbsp;</li>
    <li>Penggunaan Layanan oleh Anda tidak melanggar kewajiban-kewajiban Anda yang telah ada dan yang akan ada, termasuk namun tidak terbatas pada kewajiban yang terdapat pada perjanjian Anda dengan pihak ketiga lainnya.</li>
    <li>Tidak ada materi atau informasi atau data apapun yang disampaikan melalui akun Anda atau yang diposting atau dibagikan oleh Anda melalui Layanan akan melanggar atau menyalahi hak-hak dari pihak ketiga manapun, termasuk hak privasi, hak cipta, merek dagang, publisitas atau hak-hak kepemilikan atau pribadi lainnya; atau mengandung fitnah, pencemaran nama baik atau materi yang melanggar hukum.</li>
    <li>Apabila ada materi atau informasi atau data apapun yang disampaikan melalui akun Anda atau yang diposting atau dibagikan oleh Anda melalui Layanan, maka dengan ini Anda melepas dan membebaskan Kami serta bertanggung jawab dari segala tuntutan/gugatan dari pihak ketiga atau pihak manapun lainnya.</li>
    <li>Setiap pernyataan dan jaminan tersebut di atas dibuat dengan sebenar-benarnya, tanpa menyembunyikan fakta dan hal material apapun, dan dengan demikian Anda akan bertanggung jawab sepenuhnya atas kebenaran dari hal-hal yang telah dinyatakan di atas, demikian pula akan bersedia bertanggung jawab baik secara perdata maupun pidana, apabila pernyataan dan jaminan ini tidak sesuai dengan keadaan sebenarnya.</li>
</ul>
<p>&nbsp;</p>
<p><strong>Kewajiban Anda Dalam Penggunaan Layanan</strong></p>
<p>Dalam menggukan Layanan, Anda dengan ini setuju untuk:</p>
<ul>
    <li>Menggunakan Layanan sesuai dengan Syarat dan Ketentuan, Kebijakan Privasi, ketentuan Pasarwarga, serta Sarat dan Ketentuan lainnya yang berlaku di Pasarwarga dan peraturan perundang-undangan yang berlaku.</li>
    <li>Tidak menggunakan informasi dan data yang Anda terima terkait dengan Layanan untuk tujuan selain dari yang ditentukan dalam Syarat dan Ketentuan ini.</li>
    <li>Tidak memposting materi dan data apapun yang mengandung virus, Trojan horse, worm, time-bomb, keystroke logger, spyware, adware atau kode komputer berbahaya lain atau yang serupa, file atau program yang dirancang untuk menginterupsi, mempengaruhi, merusak atau membatasi fungsionalitas setiap perangkat lunak atau perangkat keras komputer atau peralatan telekomunikasi.</li>
    <li>Tidak mengakses tanpa wewenang, meretas (hack), menghalangi, mengganggu, menonaktifkan, membebani dengan berlebihan atau mengganggu kerja atau tampilan yang layak dari Layanan, yang termasuk tetapi tidak terbatas pada serangan penolakan layanan (denial-of-service), serangan spoof, sesi peretasan, gangguan rekayasa terbalik, pemrograman ulang, atau pemanfaatan setiap teknik framing untuk melampirkan setiap konten atau informasi kepemilikan lainnya;.</li>
    <li>Tidak memposting informasi pribadi apapun dari pihak ketiga manapun pada Layanan, termasuk tetapi tidak terbatas pada, alamat, nomor telepon, alamat email, nomor kartu identitas atau jaminan sosial dan nomor kartu kredit.</li>
    <li>Tidak menggunakan konten atau informasi yang apabila diposting, dibagikan, digunakan atau diunggah melaui Layanan oleh Anda akan menyebabkan dilanggarnya hak pihak ketiga lainnya.</li>
    <li>Tidak memposting, atau memastikan pengiriman iklan, permintaan, materi promosi, &ldquo;junk mail&rdquo;, &ldquo;spam&rdquo;, &ldquo;chain letters&rdquo;. &ldquo;pyramid schemes&rdquo; yang tidak diminta atau tidak sah atau bentuk permintaan apapun lainnya.</li>
    <li>Tidak menggunakan script otomatis, terlibat dalam praktek &ldquo;screen scraping&rdquo;, &ldquo;database scraping&rdquo; atau aktivitas lain dengan tujuan untuk mendapatkan persetujuan atau informasi lain dari Layanan, Konten dan Layanan atau untuk tujuan lain tanpa seizin Kami.</li>
    <li>Tidak berpura-pura memiliki identitas yang bukan merupakan identitas diri Anda sebenarnya atau merepresentasikan diri Anda tidak sesuai dengan kondisi dan identitas Anda sebenarnya.</li>
    <li>Tidak mengunggah konten dan/atau memakai username yang menyinggung suku, etnis, ras dan Agama lain, tidak sopan, cabul dan bertentangan dengan norma kesusilaan dan kesopanan secara sengaja ataupun tidak.</li>
    <li>Menggunakan koneksi internet dan perangkat-perangkat yang aman dan terpercaya sehingga keamanan dan kelancaran Layanan tidak terganggu.</li>
    <li>Tidak mengelakan atau mencoba mengelakkan, cara pengamanan apapun dari Layanan.</li>
    <li>Menjaga keamanan akun Anda, termasuk kata sandi unik, password dan keterangan unik lainnya yang identik dengan Akun anda dan tetap bertanggung jawab atas penggunaan akun oleh orang lain selain dari Anda.</li>
    <li>Tidak mengizinkan pihak ketiga lainnya untuk melakukan hal yang dilarang dalam Syarat dan Ketentuan dan Kebijakan Privasi.</li>
</ul>
<p>&nbsp;</p>
<p>Kami memiliki hak untuk menonaktifkan Akun Anda setiap saat, jika menurut Kami Anda telah gagal untuk mematuhi mana saja ketetapan dari Syarat dan Ketentuan ini.</p>
<p>&nbsp;</p>
<p><strong>Hak Atas Kekayaan Intelektual</strong></p>
<ul>
    <li>Hak cipta, paten, merek dagang, desain terdaftar dan semua hak atas kekayaan intelektual pada Layanan, termasuk namun tidak terbatas pada hak cipta dalam gabungan dari semua Konten adalah milik dan tetap merupakan hak Kami.</li>
    <li>Pasarwarga, gambar grafis, logo, desain, header halaman, ikon, tulisan dan nama layanan milik Pasarwarga, yang ditampilkan pada Layanan dan semua merek secara tegas dimiliki oleh Pasarwarga atau pihak ketiga yang relevan. Akses Anda pada dan/atau penggunaan Layanan tidak dapat dianggap sebagai pemberian izin terhadap penggunaan hak cipta, paten, merek dagang, desain terdaftar dan hak atas intelektual apapun lainnya yang terdapat di dalam Layanan. Setiap penggunaan hak cipta, paten, merek dagang, desain terdaftar dan hak atas intelektual apapun lainnya yang ada pada Layanan wajib dengan persetujuan tertulis terlebih dahulu dari Kami atau para pihak ketiga yang relevan.&nbsp;</li>
    <li>Kami secara agresif menggunakan hak kekayaan intelektual kami sepanjang diizinkan oleh hukum sepenuhnya. Nama Pasarwarga dan merek lain tidak dapat digunakan dengan cara apapun, termasuk dalam setiap iklan atau publisitas, atau sebagai hyperlink tanpa izin tertulis terlebih dahulu dari Kami.</li>
    <li>Dengan ketentuan bahwa Anda diberikan hak untuk menggunakan Layanan, Anda diberikan lisensi terbatas untuk mengakses dan menggunakan Layanan dan untuk mengunduh atau mencetak salinan dari bagian manapun dari Konten semata-mata untuk penggunaan Anda pribadi sehubungan dengan penggunaan Anda atas Layanan, , dengan ketentuan bahwa Anda memelihara semua hak cipta atau pemberitahuan kepemilikan lengkap lainnya.&nbsp;</li>
    <li>Lisensi ini dapat kami batalkan, setiap saat tanpa pemberitahun atau alasan apabila Merchant terbukti melakukan penyalahgunaan Layanan. Penggunaan tidak sah tersebut juga dapat melanggar hukum yang berlaku termasuk tetapi tidak terbatas, undang-undang hak cipta dan merek, dan dapat mengakibatkan diajukannya tuntutan hukum terhadap Anda.</li>
</ul>
<p>&nbsp;</p>
<p><strong>Penyalahgunaan Layanan</strong></p>
<p>Anda tidak boleh menyalahgunakan Layanan dikarenakan oleh sebab apapun. Anda tidak akan melakukan atau mendukung tindak pidana, mengirimkan atau mendistribusikan virus termasuk Trojan horse, worm, logic bomb atau mengirimkan materi berbahaya lainnya pada Layanan, teknologi berbahaya, melanggar kepercayaan atau dengan cara apapun yang bersifat ofensif atau melecehkan; memasuki setiap aspek dari Layanan; merusak data; menyebabkan gangguan terhadap pengguna lain; melanggar hak kesopanan orang lain; mengirim iklan atau materi promosi yang tidak diminta; atau mencoba untuk mempengaruhi kinerja atau fungsi dari setiap fasilitas komputer atau akses terhadap seluruh Layanan. Setiap pelanggaran ketentuan ini merupakan tindak pidana di bawah Undang-Undang Nomor 11 Tahun 2008 tentang Internet dan Transaksi Elektronik (ITE) beserta peraturan turunannya. Jika hal tersebut terjadi, Kami akan melaporkan pelanggaran kepada pihak penegak hukum yang berwenang dan akan diambil tindakan hukum yang tepat.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Akun dan Kata Sandi Anda</strong></p>
<ul>
    <li>Atas Username dan kata sandi yang Kami berikan, Anda harus memperlakukan informasi tersebut dengan rahasia dan hati-hati. Anda tidak dapat memberikan informasi tersebut kepada pihak ketiga.</li>
    <li>Kami memiliki hak untuk menonaktifkan Akun, dalam waktu kapanpun, jika menurut pandangan Kami Anda telah gagal untuk melaksanakan Syarat dan Ketentuan ini.</li>
    <li>Kami memiliki hak untuk menonaktifkan Akun Anda apabila Akun anda menjadi tidak aktif untuk jangka waktu tertentu sejak terakhir kali Akun tersebut aktif tanpa perlu memberitahukannya terlebih dahulu kepada Anda.</li>
    <li>Apabila Anda mengetahui atau mencurigai adanya pihak lain yang mengetahui kode unik atau kata sandi anda, Anda wajib untuk memberitahukan dan menghubungi Kami.</li>
</ul>
<p>&nbsp;</p>
<p><strong>Ganti Rugi</strong></p>
<p>Anda menjamin akan melepaskan dan membebaskan Kami dari setiap tuntutan atau gugatan, termasuk biaya pengadilan dan <em>lawyer fee</em>, yang dilakukan oleh pihak ketiga yang timbul dalam hal Anda melanggar Syarat dan Ketentuan ini dan/atau penyalahgunaan Layanan Kami.</p>
<p>&nbsp;</p>
<p>Dalam hal terjadi tuntutan atau gugatan yang dilakukan oleh pihak ketiga yang timbul dalam hal Anda melanggar Syarat dan Ketentuan ini dan/atau penyalahgunaan Layanan Kami, maka Anda dengan ini melepaskan dan membebaskan Kami serta bertanggung jawab dari setiap tanggung jawab tuntutan atau gugatan, termasuk namun tidak terbatas pada biaya pengadilan dan <em>lawyer fee.</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Pilihan Hukum</strong></p>
<p>Syarat dan Ketentuan ini akan diatur oleh dan ditafsirkan berdasarkan hukum Republik Indonesia. Anda setuju bahwa tindakan hukum apapun atau sengketa yang berhubungan dengan Layanan dan/atau Syarat dan Ketentuan ini akan diselesaikan berdasarkan hukum Republik Indonesia dan tunduk pada yuridiksi pengadilan di Republik Indonesia.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Perubahan Layanan</strong></p>
<ul>
    <li>Kami dapat merubah dari waktu ke waktu Layanan.&nbsp; Kami tidak menjamin bahwa Layanan Kami terbebas dari segala kesalahan dan kelalaian.</li>
    <li>Kami dapat setiap saat secara sepihak menonaktifkan dan menutup Akun Anda, termasuk untuk menghapus seluruh informasi, data dan konten Anda, baik untuk sementara atau permanen dengan tanpa pemberitahuan terlebih dahulu apabila menurut pertimbangan kami hal tersebut perlu dilakukan.</li>
</ul>
<p>&nbsp;</p>
<p><br /> <strong>Perubahan Syarat dan Ketentuan</strong></p>
<p>Kami dapat melakukan perubahan Syarat dan Ketentuan dari waktu ke waktu. Apabila Kami melakukan perubahan Syarat dan Ketentuan, Kami akan menempatkannya pada Layanan Kami dan menandai dalam halaman ini mengenai tanggal perubahan terkahir dari Syarat dan Ketentuan. Anda dengan ini setuju bahwa penggunaan lanjutan terhadap Layanan setelah perubahan Syarat dan Ketentuan oleh Kami dianggap Anda menyetujui Syarat dan Ketentuan yang baru tersebut.</p>
<p>&nbsp;</p>